*{
  box-sizing: border-box;
}
#login-heading{
  font-size:40px;
  font-weight: bold ;
  font-family: 'Times New Roman', Times, serif;
  color:BLACK;
}
#login-body{
  width: 100%;
  text-align: center;
  align-items: center;
  
 
}
.login-input{
  padding: 15px;
  border: 4px solid;
  width: 15%;

  border-radius: 20px;

}
#login-icon{
  border-radius: 50%;
  display: block;
 
}
#email{
width:270px;
height:42px;
border-radius:5px 5px 5px 5px;
background:PINK;
font-size:18px;
margin-top:30px;
border-width: 1px;
border-style:solid;
border-color: RED;
}
#password{
  width:200px;
height:42px;
border-radius:5px 5px 5px 5px;
background:PINK;
font-size:18px;
margin-top:10px;
border-width: 1px;
border-style:solid;
border-color: RED;

}
login{
  width:200px;
height:35px;
margin-top:20px;
background:#498af2;
font-family:verdana;
font-size:14px;
color:white;
border-radius:5px 5px 5px 5px;
border-width: 1px;
border-style:solid;
border-color: gray;
cursor:pointer;
outline:none;
}
#logout{
  margin-left:85%;
  width:60px;
height:25px;
margin-top:20px;
background:#498af2;
font-family:verdana;
font-size:14px;
color:white;
border-radius:5px 5px 5px 5px;
border-width: 1px;
border-style:solid;
border-color: gray;
cursor:pointer;
outline:none;

}
