*{
    box-sizing: border-box;
}

.container{
    width: 1000px;
    margin: 30px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:green;
    align-items:left;
    text-align: center;
    
      box-shadow: 5px 10px;
    
    
}

.heading {
   font-size:80px;
   font-weight: bold ;
   font-family: 'Courier New', Courier, monospace;
   color:black;
}

#input{
    width: 60%;
    font-size:15px;
    padding: 12px 0px 12px 40px;
}

#addButton{
   align-items: center;
   background-color:red;
   font-size:25px;
   margin-left: 10px;
   padding: 12px ;
   color: white;
   cursor: pointer;
   border-radius: 5px ;
}
#editButton{
  font-size:20px;
  color: red;
  float: right;
  margin-left:10px;
   
}

#deleteButton{
  font-size:20px;
  color: red;
  float: right;
  
}

ul {
    margin: 10px;
    padding: 0;
  }
  
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: rgb(180, 176, 176);
    font-size: 18px;
    transition: 0.2s;
    align-items: center;
    
  }

  
  ul li:hover {
    background: white;
  }
  
  .crossed-line {
    text-decoration: line-through;
    color:rgb(26, 26, 37);
  }